<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>

    <script src="./main.js" defer></script>
    
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section id="app" class="hidden" v-cloak>
    <div id="main-container">
        <div id="main-title">
            <h1>My Todo App</h1>
        </div>
        
<div id="todo-done-container">
    <div id="tasks-to-do">
        <h3 id="tasks-to-do-par">All Tasks: {{ allTasksCount }}</h3>
        <h3 id="tasks-to-do-par">Tasks To Do: {{ taskCount }}</h3>
        <h3 id="tasks-to-be-done-par">Tasks completed: {{ completeTaskLength }}</h3>
        
    </div>
</div>
<div id="input-container">
    <input v-model="addedTask" v-on:keyup.enter="addTask" v-on:input="maxLengthInput" maxlength="40" type="text" placeholder="What's your next task?" autofocus>
<button @click="taskEnter" id="add-task">+</button>
</div>
<div v-if="warningText" id="warn-paragraph">
    <p id="warn-text">{{ warningText }}</p>
</div>
<div v-for="(task, index) in tasksToDo">
    <ul>
        <li :key="index">{{index + 1}}° Task - {{ task }}</li>
        <button id="delete-button" @click="removeTask">Remove</button>
        <button  id="completed" @click="addCompleted(index)"> Complete</button>     
    </ul>
</div>






        </section>
      </div>
</body>
</html>